rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function getRole(workspaceId) {
      let doc = get(/databases/$(database)/documents/workspaceMembers/$(workspaceId + '_' + request.auth.uid));
      return doc != null ? doc.data.role : null;
    }
    
    function isWorkspaceOwner(workspaceId) {
      return isAuthenticated() && (request.auth.uid == workspaceId || getRole(workspaceId) == 'OWNER');
    }
    
    function isWorkspaceContributor(workspaceId) {
      return isAuthenticated() && getRole(workspaceId) == 'CONTRIBUTOR';
    }
    
    function isWorkspaceViewer(workspaceId) {
      return isAuthenticated() && getRole(workspaceId) == 'VIEWER';
    }
    
    function hasWorkspaceReadAccess(workspaceId) {
      return isWorkspaceOwner(workspaceId) || isWorkspaceContributor(workspaceId) || isWorkspaceViewer(workspaceId);
    }
    
    function hasUploadAccessToSection(workspaceId, sectionId) {
      let allowedSections = get(/databases/$(database)/documents/workspaceMembers/$(workspaceId + '_' + request.auth.uid)).data.allowedUploadSections;
      return isWorkspaceOwner(workspaceId) || 
             (isWorkspaceContributor(workspaceId) && 
              allowedSections != null && sectionId in allowedSections);
    }

    match /users/{userId} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }
    
    match /workspaceMembers/{memberId} {
      allow read: if isAuthenticated(); 
      allow create, update, delete: if (request.resource != null && isWorkspaceOwner(request.resource.data.workspaceId)) || (resource != null && isWorkspaceOwner(resource.data.workspaceId));
    }

    match /notebooks/{docId} {
      allow read: if isAuthenticated() && hasWorkspaceReadAccess(resource.data.workspaceId);
      allow create, update, delete: if (request.resource != null && isWorkspaceOwner(request.resource.data.workspaceId)) || (resource != null && isWorkspaceOwner(resource.data.workspaceId));
    }
    
    match /sections/{docId} {
      allow read: if isAuthenticated() && hasWorkspaceReadAccess(resource.data.workspaceId);
      allow create, update, delete: if (request.resource != null && isWorkspaceOwner(request.resource.data.workspaceId)) || (resource != null && isWorkspaceOwner(resource.data.workspaceId));
    }
    
    match /files/{docId} {
      allow read: if isAuthenticated() && hasWorkspaceReadAccess(resource.data.workspaceId);
      allow create: if isAuthenticated() && hasUploadAccessToSection(request.resource.data.workspaceId, request.resource.data.sectionId);
      allow update, delete: if isWorkspaceOwner(resource.data.workspaceId) || 
                            (isWorkspaceContributor(resource.data.workspaceId) && resource.data.uploadedBy == request.auth.uid);
    }
  }
}
